.container{
    margin-left: 50px;
    width: 100%;
    max-width: 100%;
    grid-column-gap: 20px;
    display:grid;
    grid-template-columns: 900px 100px;
}
nav{
    grid-column:1 / 3;
}
.flowing-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}
.flowing-boxes li{
    border: 5px solid #02DDFF;
    flex-basis: 200px;
    list-style-type: none;
    margin-left: 1rem;
    margin-right: 1rem;
}
.section{
    padding-left: 200px;
    text-align:center;
}
.body{
    padding-left: 300px;
}
.figure{
    float: right;
    width: 18.75rem;

}
.aside{
    float:right; 
}

.mainpage_image_right{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}
.list {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.citation{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;

}
a:link {
    color:#02DDFF;
}
a:visited {
    color:blueviolet;
}
*{
    font-family: fantasy;
}
#Albedo{
    color:#FF985E;
    
}
#Keqing{
    color: #B4009E;
    
}
#maintext{
    grid-column-start:1;
    grid-row-start: 1;
    padding-top: 40px;
    color: #5ECBC8;
    margin: 50px;
    border-style: solid;
    margin-bottom: 750px;

}
#Keqing_image{
    border-style: solid;
    margin-left: 5px;
    padding-right: 350px;
    background-image: url("../images/lightning.jfif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
#Albedo_image{
    border-style: solid;
    margin-left: 5px;
    padding-right:300px;
    background-image: url("../images/monstadt.jfif");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover
}
body{
    background : lightcoral;
}
.flexible{
    width: 100%;
    min-width:414px;      
}