.menu ul{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu li{
    border: 1px solid #75ace4;
    text-align: center
}
.menu a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333333
}
.menu a:hover{
    color: black;
    background-color: blue;
}
.menu a.is-current{
    color: black; 
    background-color: lightblue;
    
}
.menu{
    grid-column-start: 1;
    grid-row-start:1 ;
}
.flexible{
    width: 100%;
    min-width:414px;      
}