.menu ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display:flex;
    justify-content: center;
}
.menu li{
    border: 1px solid #75ace4
}
.menu a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #333333
}
.menu a:hover{
    color: black;
    background-color: blue;
}
.menu a.is-current{
    color: black; 
    background-color: lightblue;
    
}